<h1><%= title %></h1>
<br />
Was möchtest du öffnen:
<br />
<button name="control" onclick="javascript: window.location.href = 'control'">Steuerung</button>
<br />
<button name="view" onclick="javascript: window.location.href = 'view'">Anzeige/Beamer</button>
<br />
<button name="view" onclick="javascript: window.location.href = 'view'" disabled="disabled">Einfache Fernbedienung für Phones</button>
<br />
<button name="view" onclick="javascript: window.location.href = 'view'" disabled="disabled">Fernbedienung mit Vorschau für Tablets</button>